services:
  hi-events-backend:
    build:
      context: ./../../backend
      dockerfile: Dockerfile
    container_name: hi-events-backend
    ports:
      - "8124:8080"
    environment:
      # Core
      APP_KEY: "base64:L3oZWDgUeajPmFkf45twiecKPKouG/daIo0+I3HkWM0="
      JWT_SECRET: "zcC3aoCFD0nu9NlieSjqEKeS3HsFtqyNA6vmjl8+ZE4="
      LOG_CHANNEL: "stderr"
    
      # App URLs
      APP_FRONTEND_URL: "http://localhost:8123"
      APP_CDN_URL: "http://localhost:8123/storage"
    
      # SaaS
      APP_SAAS_MODE_ENABLED: "false"
    
      # Queue / Redis
      QUEUE_CONNECTION: "redis"
      REDIS_HOST: "redis"
      REDIS_PASSWORD: ""
      REDIS_PORT: "6379"
      REDIS_USER: ""
      REDIS_URL: ""
    
      # Database
      DB_CONNECTION: "pgsql"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      DB_DATABASE: "hi-events"
      DB_USERNAME: "postgres"
      DB_PASSWORD: "secret"
      DATABASE_URL: "postgresql://postgres:secret@postgres:5432/hi-events"
    
      # Storage (z Twojego .env to były dyski local/public, więc NIE s3)
      FILESYSTEM_DISK: "public"
      AWS_ACCESS_KEY_ID: ""
      AWS_SECRET_ACCESS_KEY: ""
      AWS_DEFAULT_REGION: "us-west-1"
      AWS_PUBLIC_BUCKET: ""
      AWS_PRIVATE_BUCKET: ""
    
      # Stripe (test)
      STRIPE_PUBLIC_KEY: "pk_test_123456789"
      STRIPE_SECRET_KEY: "sk_test_123456789"
      STRIPE_WEBHOOK_SECRET: "whsec_test_123456789"
    
      # Mail (w Twoim .env jest log)
      MAIL_MAILER: "log"
      MAIL_HOST: "mail.local"
      MAIL_PORT: "1025"
      MAIL_USERNAME: "null"
      MAIL_PASSWORD: "null"
    
